.cards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

@media screen and (max-width: 800px) {
  .cards {
    row-gap: 73px;
  }
}

@media screen and (max-width: 400px) {
  .cards {
    row-gap: 50px;
  }
}
