.places {
  max-width: calc(100% - (148px + 148px));
  margin: 92px auto;
}

@media screen and (max-width: 1050px) {
  .places {
    max-width: calc(100% - (48px + 48px));
  }
}

@media screen and (max-width: 800px) {
  .places {
    max-width: calc(100% - (24px + 24px));
  }
}

@media screen and (max-width: 400px) {
  .places {
    max-width: 100%;
    margin: 64px auto 66px auto;
  }
}
