.comment__author {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 900;
  line-height: 23/72px;
  color: #FFFFFF;
}

@media screen and (max-width: 810px) {
  .comment__author {
    text-align: center;
    margin-top: 16px;
  }
}
