.comments__container {
  list-style: none;
  margin: 72px auto 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: 48px 19px;
}

@media screen and (max-width: 810px) {
  .comments__container {
    grid-template-columns: repeat(auto-fit, minmax(382px, 1fr));
    justify-items: center;
  }
}

@media screen and (max-width: 420px) {
  .comments__container {
    grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
    justify-items: center;
  }
}
@media screen and (max-width: 380px) {
  .comments__container {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    justify-items: center;
  }
}
