.cards-columns__article {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

@media screen and (max-width: 766px) {
  .cards-columns__article {
    margin: auto 0px;
  }
}

@media screen and (max-width: 400px) {
  .cards-columns__article {
    margin: auto 16px;
  }
}
