.header {
  max-width: 92.5%;
  margin: 0 auto 56px auto;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1050px) {
  .header {
    max-width: 90.62%;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    max-width: 93.75%;
  }
}

@media screen and (max-width: 400px) {
  .header {
    max-width: 90%;
    padding-top: 16px;
  }
}
