.lead__title {
  padding: 0;
  margin: 0 auto;
  display: flex;
  max-width: 720px;
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  color: #FFFFFF;
  text-align: center;
}

@media screen and (max-width: 770px) {
  .lead__title {
    margin: 0 3.125%;
  }
}

@media screen and (max-width: 750px) {
  .lead__title {
    margin: 0px auto;
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 400px) {
  .lead__title {
    margin: 0px 5%;
    max-width: calc(100% - (16px + 16px));
  }
}
