@media screen and (max-width: 900px) {
  .cards-columns__title_row-wrap {
    max-width: 340px;
    box-sizing: border-box;
    padding-right: 15px;
  }
}

@media screen and (max-width: 766px) {
  .cards-columns__title_row-wrap {
    max-width: none;
    box-sizing: content-box;
    padding-right: 0px;
  }
}
