.cards-columns__website {
  margin: 0 0 48px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-basis: 484px;
}

@media screen and (max-width: 400px) {
  .cards-columns__website {
    margin: 0 auto 32px auto;
    flex-basis: 282px;
  }
}
