.lead__subtitle {
  padding: 0;
  margin: 32px 17.47% 64px 17.47%;
  display: flex;
  max-width: calc(100% - (172px + 172px));
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #FFFFFF;
}

@media screen and (max-width: 1050px) {
  .lead__subtitle {
    max-width: calc(100% - (144px + 144px));
    margin: 32px 15.51% 56px 15.51%;
  }
}

@media screen and (max-width: 800px) {
  .lead__subtitle {
    max-width: 100%;
    margin: 32px 8.33% 56px 8.33%;
  }
}

@media screen and (max-width: 400px) {
  .lead__subtitle {
    margin: 16px 5% 40px 5%;
    font-size: 16px;
    line-height: 1.25;
  }
}
