.lead__caption {
  padding: 0;
  margin-top: 8px;
  margin-bottom: 0px;
  max-width: 160px;
  font-size: 10px;
  line-height: 1.4;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 400px) {
  .lead__caption {
    margin-left: 16px;
  }
}
