.footer {
  max-width: calc(100% - (48px + 48px));
  margin: 92px auto 0 auto;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1281px) {
  .footer {
    max-width: calc(1280px - 96px);
  }
}

@media screen and (max-width: 1050px) {
  .header {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 800px) {
  .footer {
    max-width: calc(100% - (24px + 24px));
    margin: 64px auto 0 auto;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    margin: 64px 16px auto 24px;
  }
}
